{% extends 'base.html.twig' %}

{% block body %}
    {{ form(form) }}
    <a href="{{ path('app_social_login', {'client': 'google'}) }}">Sign in by Google</a>
    <a href="{{ path('app_social_login', {'client': 'linkedin'}) }}">Sign in by LinkedIn</a>
    <a href="{{ path('app_social_login', {'client': 'facebook'}) }}">Sign in by Facebook</a>
{% endblock %}
