.search-container {
  display: flex;
  position: relative;

  .search-form, .image-container {
    padding: 5rem 0;
  }

  .search-form {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #f5f3f1;
    padding: 0 10px;
    box-sizing: border-box;

    h2 {
      font-weight: bold;
    }

    div {
      border-radius: 30px;
      border: 1px solid black;
      height: 3rem;
      background: #ffffff;
      display: flex;
      align-items: center;
      padding: 0 10px;


      input {
        width: 75%;
        height: 100%;
        border: 0;
        margin: 0 0 0 5%;

        &:focus {
          outline: none;
        }
      }

      button {
        width: 20%;
        box-sizing: border-box;
        border-radius: 30px;
      }
    }
  }

  .image-container {
    width: 50%;
    text-align: center;
    background: #0b99ce;
    position: relative;

    img {
      width: 20rem;
    }

    svg {
      position: absolute;
      width: 20%;
      height: 100%;
      left: 0;
      top: 0;
      fill: #f5f3f1;
    }
  }
}

.flow-introduction h2, .description h2, .clients-review h2 {
  color: #0b99ce;
  font-weight: bold;
}

.flow-introduction p, .description p {
  width: 50%;
  margin: 0 auto;
}

.description {
  color: #b1b6b9;
  background: #fefffe;
}

.flow-introduction {
  position: relative;
  color: #ffffff;
  background: #173046;
  background: linear-gradient(90deg, #173046 10%, #171A25 100%);

  img {
    position: absolute;
    top: -3rem;
    left: 3rem;
    width: 400px;
    transform: scaleX(-1);
  }

}

.clients-review {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0 5rem;

  p {
    width: 30% !important;
    margin: 0;
  }
}
