parameters:
    symfony:
        container_xml_path: var/cache/test/App_KernelTestDebugContainer.xml
    doctrine:
        objectManagerLoader: tests/object-manager.php
    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    level: 8
    paths:
        - src
        - tests
