.restaurant-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 5rem;

  h3 {
    margin: 0 1rem 0 0;
  }

  .addresses-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .address-wrapper {
      border: 1px solid black;
      border-radius: 1rem;
      padding: 1rem;
      margin: 0.5rem;
      width: 30%;

      h5 {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
      }
    }
  }

  .employees {
    ul {
      list-style: none;

      li {
        i {
          color: black;
          margin: 0 0.25rem;
        }
      }
    }
  }
}
