<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Project{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
{% if block('header') is empty %}
    {% include 'header.html.twig' %}
{% endif %}
{% block header %}{% endblock %}

{% block body %}{% endblock %}

{% if block('footer') is empty %}
    {% include 'footer.html.twig' %}
{% endif %}
{% block footer %}{% endblock %}
</body>
</html>
