{% block footer %}
    <footer class="text-center p-4 align-items-center">
        <div class="waves">
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
            <div class="wave"></div>
        </div>
        <ul class="socials">
            <li>
                <a href="#"><i class="bi bi-linkedin"></i></a>
            </li>
            <li>
                <a href="#"><i class="bi bi-person-workspace"></i></a>
            </li>
        </ul>
        <p class="m-2 font-weight-bold">&copy;2023 Jan Olszewski | All Rights Reserved</p>
    </footer>
{% endblock %}
