{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('home_page') }}
{% endblock %}

{% block body %}
    <div class="search-container">
        <div class="search-form">
            <h2 class="text-center">Welcome in restaurant project</h2>
            <div class="col-10 d-flex justify-content-center" data-controller="search-restaurant"
                 data-search-restaurant-url-value="{{ path('app_restaurant_list') }}">
                <input data-search-restaurant-target="name"
                       placeholder="Find your restaurant to make an order" type="text"
                       data-action="keydown.enter->search-restaurant#search"/>
                <button class="btn btn-primary" data-action="click->search-restaurant#search">Search</button>
            </div>
        </div>
        <div class="image-container">
            <img src="{{ asset('build/images/burger.png') }}" alt="burger">
            <svg viewBox="0 0 100 100" preserveAspectRatio="none">
                <polygon points="0 0, 0 100, 100 0, 100 0"></polygon>
            </svg>
        </div>
    </div>
{% endblock %}
